<div class="homepagehero">
    <div class="whitebackground">
        <div class="container">
            <div class="navbars">
                <app-navbar></app-navbar>
            </div>
            <h1>Find your <br> dream <span id="car">Car</span></h1>
            <div class="texts">
                We offere the best car collections at affordable price.
            </div>
            <div class="buttons"><a href="/yard"><button class="btn shadow-none">Brows Cars</button></a></div>
        </div>
    </div>
</div>
<div class="services">
    <div class="container">
        <div class="whatweoffer">
            <h3 class="text-center" id="subtitles">Why choose us</h3>
            <p class="text-center">We offer better services and you can always get best bernefits for shopping with us.</p>
        </div>
        <div class="flex_howto">
            <div class="easybuy">
                <h4 class="text-center" id="subtitles">Easy buy</h4>
                <p>Brow the yard and pick your dream car. you can buy directly or book a test drive.</p>
            </div>
            <div class="easypay">
                <h4 class="text-center" id="subtitles">Easy pay</h4>
                <p>We have an integrated payment system that allows you pay for your car in a secure way.</p>
            </div>
            <div class="easyuse">
                <h4 class="text-center" id="subtitles">Easy use</h4>
                <p>Buying car has been made simple with few details required and the step is procedural and easy to follow.</p>
            </div>
        </div>
    </div>
</div>
<div class="cars_few">
    <div class="container">
        <div class="seeemore"><a href="/yard">See More...</a></div>
    </div>
</div>
<div class="testimonials">
    <div class="container">
        <div class="flex_cards">
            <div class="card">
                <div class="names">
                    Jane Doe
                </div>
                <div class="texts">
                    I purcased my car here and i have never regreted. i can recoments this place.
                </div>
            </div>
            <div class="card">
                <div class="names">
                    Clinton Bill
                </div>
                <div class="texts">
                    Easy and secure payments i can confirm. The app is realy easy and direct.
                </div>
            </div>
            <div class="card">
                <div class="names">
                    John Doe
                </div>
                <div class="texts">
                    I loved the test drives, Skilled drivers for those who dont know how to drive. thums up.
                </div>
            </div>
            <div class="card">
                <div class="names">
                    John Doe
                </div>
                <div class="texts">
                    I loved the test drives, Skilled drivers for those who dont know how to drive. thums up.
                </div>
            </div>
        </div> 
    </div>
</div>