/* #813B16 */
nav{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav a button{
    font-size: 20px;
    color: #813B16;
    font-weight: 500;
    /* color: #EFF3F6; */
}
#logins{
    border:1px solid #813B16;
    border-radius: 0;
}