<div class="contactspage">
    <div class="container">
        <app-navbar></app-navbar>
        <div class="flex_contacts">
            <div class="contact_links">
                <p>Fill the form to send message. our team will get back to you as quick as posible.</p>
                <p><a href="tel:+254705287224"><i class="fa-solid fa-phone"></i> +254705287224</a></p>
                <p><a href="mailto:uhururawlings40@gmail.com"><i class="fa-solid fa-envelope"></i> uhururawlings40@gmail.com</a></p>
                <p><a href="https://www.google.com/maps"><i class="fa-solid fa-location-dot"></i> ngong' road</a></p>
            </div>
            <div class="contact_form">
                <form method="post" autocomplete="off">
                    <div class="text-center text-success">{{ success }}</div>
                    <div class="form-group">
                        <label for="username">phone number<sup class="text-danger">*</sup></label>
                        <input type="tel" [(ngModel)]="phonenumber" name="phonenumber" required id="phonenumber" class="form-control shadow-none" placeholder="Enter phonenumber">
                    </div>
                    <div class="form-group">
                        <label for="useremail">useremail<sup class="text-danger">*</sup></label>
                        <input type="email" [(ngModel)]="useremail" name="useremail" required id="useremail" class="form-control shadow-none" placeholder="Enter useremail">
                    </div>
                    <div class="form-group">
                        <label for="messages">message<sup class="text-danger">*</sup></label>
                        <textarea name="messages" [(ngModel)]="messages" id="messages" required cols="30" rows="10" class="form-control shadow-none" placeholder="Type your text here..."></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" (click)="validateContact()" value="send message" class="btn shadow-none" id="buttons">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>