.flex_contacts{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.contact_links,.contact_form{
    width: 50%;
    height: 100%;
}
.contactspage{
    height: 100vh;
    background-color: #fafbfc;
}
.form-group{
    margin-bottom: 15px;
}
#messages{
    height: 100px;
    resize: none;
}
p a{
    text-decoration: none;
    color: rgb(87, 84, 84);
}
#buttons{
    color: #EFF3F6;
    background-color: #813B16;
    font-size: 20px;
    border: 2px solid #813B16;
}