<div class="carshoplogin">
    <div class="carimagesside"></div>
    <div class="loginforms">
        <form autocomplete="off" method="post">
            <h4 class="text-center">Reset Account Password</h4>
            <div class="form-group">
                <label for="useremails">useremail</label>
                <input type="email" [(ngModel)]="useremails" name="useremails" id="useremails" class="form-control shadow-none" placeholder="Enter useremail">
            </div>
            <div class="form-group">
                <label for="passwords">password</label>
                <input type="password" [(ngModel)]="passwords" name="passwords" id="passwords" class="form-control shadow-none" placeholder="Enter password">
            </div>
            <div class="form-group">
                <label for="passwords">confirm password</label>
                <input type="password" [(ngModel)]="passwords" name="cpasswords" id="cpasswords" class="form-control shadow-none" placeholder="Confirm password">
            </div>
            <div class="form-group">
                <input type="submit" value="Reset Password" (click)="validateLogin()" class="btn shadow-none" id="buttons">
            </div>
            <p>Already have account? <a routerLink="/login">login</a></p>
            <p>Dont have account? <a routerLink="/signup">create account</a></p>
        </form>
    </div>
</div>