<div class="yards">
    <div class="darkbgs">
        <div class="container">
            <app-navbar></app-navbar>
        </div>
    </div>
</div>
<div class="carssections">
    <div class="container">
        <div class="car_cards">
            <div class="card">
                    <div class="images">
                        <img src="https://res.cloudinary.com/dwvjgc2l0/{{ image.carimages }}" height="100%" width="100%" alt="">
                    </div>
                <div class="card-body">
                    <div class="flex_contents">
                        <div class="models">Car model: {{ image.car_id.carmodel.modelname }}</div>
                         <div class="seats">No. seats{{ image.car_id.seats }}</div>
                    </div>
                    <div class="engines">Engine Power {{ image.car_id.engines_cc }} cc</div>
                    <div class="seemorebtn"><a routerLink="/details"><button id="buttonss">see details</button></a></div>
                </div>
            </div>
        </div>
    </div>
</div>